<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guvenluckyboy.spanishlearn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hola"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        >
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sablon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kelime"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cumleyerlestirme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dialog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dinlePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".finish"
            android:screenOrientation="portrait" />

    </application>

</manifest>
